#board{
    /*display:grid;*/
    /*grid-template-columns:repeat(8, 100px);*/
    /*grid-template-rows:repeat(8,100px);*/
    width:800px;
    height:800px;
    position: relative
}

.square{
    height: 100px;
    width:100px;
    position: absolute;
}




.selected {
    box-shadow: inset 0 0 0 5px red;
}


.white{ background: #ffdddd}
.black{ background: black}

.piece{
    width:100px;
    height:100px;
    object-fit: contain;
    /*pointer-events: none;*/
    /*grid-row-start:auto;*/
    /*grid-column-start: auto;*/
    /*padding:2px;*/
}